$display_flex: flex;
$display_none: none;
$display_block: block;
$flex_dir_row: row;
$flex_dir_column: column;
$align_center: center;
$align_left: left;
$align_right: right;

// justify
$justify_between: space-between;
