// for padding
$padding: 0.2rem 0.5rem;
$container_padding_for_header: 0.2rem 0.4rem;
$mt_1: 2px;
$mt_2: 6px;
$mt_3: 8px;
$mt_4: 10px;
$mt_5: 12px;
$mt_6: 14px;
$mt_7: 16px;
$mt_8: 18px;
$mt_9: 20px;
$mt_10: 22px;
$mb_1: 2px;
$mb_2: 6px;
$mb_3: 8px;
$mb_4: 10px;
$mb_5: 12px;
$mb_6: 14px;
$mb_7: 16px;
$mb_8: 18px;
$mb_9: 20px;
$mb_10: 22px;
$mr_1: 2px;
$mr_2: 6px;
$mr_3: 8px;
$mr_4: 10px;
$mr_5: 12px;
$mr_6: 14px;
$mr_7: 16px;
$mr_8: 18px;
$mr_9: 20px;
$mr_10: 22px;
$ml_10: 22px;
$ml_1: 2px;
$ml_2: 6px;
$ml_3: 8px;
$ml_4: 10px;
$ml_5: 12px;
$ml_6: 14px;
$ml_7: 16px;
$ml_8: 18px;
$ml_9: 20px;
$ml_10: 22px;
$pt_1: 2px;
$pt_2: 6px;
$pt_3: 8px;
$pt_4: 10px;
$pt_5: 12px;
$pt_6: 14px;
$pt_7: 16px;
$pt_8: 18px;
$pt_9: 20px;
$pt_10: 22px;
$pb_1: 2px;
$pb_2: 6px;
$pb_3: 8px;
$pb_4: 10px;
$pb_5: 12px;
$pb_6: 14px;
$pb_7: 16px;
$pb_8: 18px;
$pb_9: 20px;
$pb_10: 22px;
$pr_1: 2px;
$pr_2: 6px;
$pr_3: 8px;
$pr_4: 10px;
$pr_5: 12px;
$pr_6: 14px;
$pr_7: 16px;
$pr_8: 18px;
$pr_9: 20px;
$pr_10: 22px;
$pl_10: 22px;
$pl_1: 2px;
$pl_2: 6px;
$pl_3: 8px;
$pl_4: 10px;
$pl_5: 12px;
$pl_6: 14px;
$pl_7: 16px;
$pl_8: 18px;
$pl_9: 20px;
$pl_10: 22px;
